body {
    background: #313131;
    color: #d3d3d3;
}

hr {
    background: #5e5e5e;
}

.contact-card {
    background: #212121;
}

.card-header {
    background: #111111;

}

.form-group {
    background: #212121;
}

.modal-body {
    background: #212121;
}

.fade {
    background-color: rgba(0, 0, 0, 0.8) !important;
}